<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TaxScenario</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>me.a9r.taxstudy.scenario</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TaxFacts</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>me.a9r.taxstudy.facts</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TaxScenario</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>AppIcon</string>
				<key>UTTypeIconText</key>
				<string>TXSCN</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>me.a9r.taxstudy.scenario</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txscn</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.taxscenario+json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TaxFacts</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>AppIcon</string>
				<key>UTTypeIconText</key>
				<string>TXCFG</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>me.a9r.taxstudy.facts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txcfg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.taxfacts+json</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
